@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items:center;
    justify-content:center;
    background-color: hsl(185, 75%, 39%);
    background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
                  
}
.subtitle {
    padding: 0.5em;
    font-size: 13px;
    color: hsl(227, 10%, 46%);
}
.content {
    background-image: url(./images/bg-pattern-card.svg);
    width: 50%;
    max-width: 28.125rem;
    border-radius:10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

.superior {
    min-height: 40%;
    width: 100%;
}
.inferior{
    background-color:white;
    width: 100%;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}
.statistic{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.img{
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
}

.img img{
    border-radius: 50%;
}
.item{
    padding:1em;
    margin-top: 5em;
}


@media  (max-width:600px){
    .content{
        width:90%;
    }
}
